<!DOCTYPE html>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!-- Copyright (C) 2021 S. K. Medlock, E. K. Herman, K. M. Shaw -->
<html lang="<%= lang %>">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Patient</title>
<link rel="stylesheet" type="text/css" href="static/adfice.css">
<style>
#button-advise-view {
    background-color: #008000;
    color: #FFFFFF;
}
</style>
<script src="assets/thirdparty/showdown.min.js"></script>
<script src="assets/basic-utils.js"></script>
<script src="assets/common.js"></script>
<script src="assets/five-pages.js"></script>
<script src="assets/footer.js"></script>
<script>
window.addEventListener('load', function(event) { advise_page_load(); });
</script>
</head>
<body>
<form id="patient_form">
<img src="static/Advice_IT_logo_small.png"
     style="max-width: 10%; height: auto; display: inline;"
     alt="Advice IT logo"
>
<div id=patient_info>
<strong>Pati&euml;ntinformatie:</strong><br/>
Patient: <span id="patient-info-id"></span><br/>
Leeftijd: <span id="patient-info-age"></span><br/>
<div class="prediction" id = "prediction">
<div class='gauge_background'>
<div class='gauge_text_left'>laag</div>
<div id="gauge-line"></div>
<div class='gauge_text_right'>hoog</div>
</div><!-- gauge_background -->
</div><!-- prediction -->
<div style="height: 2em;"></div>
</div><!-- id=patient_info -->

<div id="div_patient_view" class="div_patient_view">
<div class="patient_header patient_view_only"
     id="patient_med_advice_header">Advies over medicaties:</div>
<div id='patient-medication-advice-list'>
loading ...
</div><!-- patient-medication-advice-list -->
<div id="div_other_med_advice" class="div_other_advice">
loading ...
</div><!-- div_div_other_med_advice -->
<div id="patient_warning">
<img src="/static/WarningRW_openClipArt.png" class="warningicon">
Als u bijwerkingen of andere gezondheidsproblemen krijgt, neem dan contact op
met uw huisarts, het ziekenhuis, of uw apotheek.</div>
</div> <!-- div_patient_view -->

<div id="non_med_advice_patient_area" class="non_med_advice_patient_area">
<div id="non_med_advice_patient_area_text">
<div class="patient_header patient_view_only"
	id="header_overige_advies">Overige adviezen</div>
<% let nm_advices = patient_advice.advice_text_non_med; -%>
<%
   for (let i = 0; i < nm_advices.length; ++i ) {
       let nm_advice = nm_advices[i];
       let nma_prefix = "nma_" + i;
       let category = nm_advice.category_id;
       let category_name = nm_advice.category_name;
       let boxnum = nm_advice.select_box_num;
       let nma_id_base =`NONMED_${category}_${boxnum}`;
       let row_id = 'pt_' + nma_id_base;
-%>
<div id="<%= row_id %>" class="patient_nonmed_cb_row">
<%         for (let k = 0; k < nm_advice.patient_split.length; ++k) { -%>
<%             let chunk = nm_advice.patient_split[k]; -%>
<%             let chunk_id = `pft_NONMED_${category}_${boxnum}_${k}`; -%>
<% //
        let cbString = md.makeHtml(chunk.text);
        cbString = cbString.replace("<p>", "");
        cbString = cbString.replace("</p>", "");
%>
<div id="<%= chunk_id %>" class="patient_nonmed_cb_text">
<%- cbString -%>
</div><!-- <%= chunk_id %> -->
<%         } -%>
</div> <!-- <%= row_id %> -->
<% } -%>
</div><!-- non_med_advice_patient_area_text -->
<button id="copy_patient_text" type="button" class='button_patient_text'
        onclick="copyPatientTextToClipboard()">Kopieer tekst</button>
<button id="print_button" onclick="windowPrint()">Afdrukken</button>
</div><!-- "non_med_advice_patient_area" -->

<div id="div-footer-id"></div><!-- footer -->
<script>load_footer();</script>
</form>
</body>
</html>
