<!DOCTYPE html>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!-- Copyright (C) 2021 S. K. Medlock, E. K. Herman, K. M. Shaw -->
<%# see https://ejs.co/#docs -%>
<html lang="nl">
<head>
<meta charset="UTF-8">
<title>Adfice checkboxes</title>
</head>
<body>

<!-- patient number -->
<table>
<!--
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `medication_criteria_id` varchar(8) DEFAULT NULL,
  `select_box_num` smallint(5) unsigned DEFAULT NULL,
  `select_box_category` varchar(20) DEFAULT NULL,
  `select_box_designator` varchar(20) DEFAULT NULL,
  `cdss` varchar(3000) DEFAULT NULL,
  `ehr` varchar(2000) DEFAULT NULL,
  `patient` varchar(5000) DEFAULT NULL,
-->
<!-- name (and atc code) of medication -->
<!-- get the advice texts with medication_criteria_id in the array -->
<% for (var i = 0; i < advice_texts.length; ++i ) { %>
<%      var row = advice_texts[i]; %>
	<tr>
	<td><%= row.medication_criteria_id %></td>
	<td><%= row.select_box_num %></td>
	<td><%= row.cdss %></td><!-- split into advice without checkboxes and advice with checkboxes -->
	<td><%= row.ehr %></td>
	<td><%= row.patient %></td>
	</tr>
<% } %>
</table>

<!-- repeat for the next medication -->
</body>
</html>
