<!DOCTYPE html>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!-- Copyright (C) 2021 S. K. Medlock, E. K. Herman, K. M. Shaw -->
<%# see https://ejs.co/#docs -%>
<% function ucfirst(s) { if (typeof s !== 'string') { return s; } return s.charAt(0).toUpperCase() + s.slice(1); } -%>
<html lang="<%= lang %>">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Patient <%= patient_id %></title>
<link rel="stylesheet" type="text/css" href="static/adfice.css">
<script src="static/patient.js"></script>
<script>
let patient_id = "<%= patient_id %>";
let viewer_id = "<%= viewer_id %>";
console.log('patient_id: ', patient_id);
</script>
</head>
<body>
<form id="patient_form">
<img src="static/Advice_IT_logo_small.png"
     style="max-width: 10%; height: auto; display: inline;"
     alt="Advice IT logo"
>
<div id="nav_container" style="display: inline;">
 <button type="button" class = "nav_button" id="page_renew">
	 Haal gewijzigde pati&euml;ntdata op</button>
 <button type="button" class = "nav_button" id="definitive">
	 Opslaan &amp; definitief maken</button>
 <button type="button" class = "nav_button" id="help">
	 Hoe gebruik ik dit systeem?</button>
</div>
<div id="footer">
Patient: <%= patient_id %>
<button id="button_clinician_view" type="button" class='button_advice_view'
        onclick="switch_to_view('clinician')">Voorbereiding</button>
<button id="button_condensed_view" type="button" class='button_advice_view'
        onclick="switch_to_view('condensed')">Consult</button>
<button id="button_patient_view" type="button" class='button_advice_view'
        onclick="switch_to_view('patient')">Advies</button>
<span id="viewer_count"></span>
</div>
<div id=patient_info>
<strong>Pati&euml;ntinformatie:</strong><br/>
Patient: <%= patient_id %><br/>
Leeftijd: <%= patient_advice.age %><br/>
<div class="prediction" id = "prediction">
<% let risk_score = patient_advice.risk_score; -%>
<p>Kans om te vallen binnen 12 maanden:&nbsp;
<span style="color: red;">
<% if (isNaN(risk_score)) { -%>
(onbekend)
<% } else { -%>
<%= risk_score -%>%
<% } -%>
</span> (lees meer over het predictiemodel)</p>
<div class='gauge_background'>
    <div class='gauge_text_left'>0%
<% if (!isNaN(risk_score)) { -%>
    </div><div class='gauge_line' style='left: <%= risk_score %>%'>
<% } -%>
    </div><div class='gauge_text_right'>100%</div>
</div>
</div>
<div style="height: 2em;"></div>
<span id="patient_medications">
<span id="meds_with_rules">
Ga direct naar medicijnen met aanbevolen maatregelen:
<%     let rule_meds = patient_advice.meds_with_rules; -%>
<% for (let i = 0; i < rule_meds.length; ++i ) { -%>
<%     let med = rule_meds[i]; %>
<%     if (i) { -%>
,
<%     } -%>
<a href="#div_advice_<%= med.ATC_code %>" title="<%= med.medication_name %>">
<%= ucfirst(med.medication_name).trim() %></a>
<% } -%>
</span><!-- meds_with_rules -->
<br/>
<span id="meds_without_rules">
<br/>Medicijnen zonder aanbevolen maatregelen:
<%     let other_meds = patient_advice.meds_without_rules; -%>
<% if (other_meds.length == 0) { %>
Geen
<% } else { %>
<%     for (let i = 0; i < other_meds.length; ++i ) { -%>
<%         let med = other_meds[i]; %>
<%         if (i) { -%>
,
<%         } -%>
<%= ucfirst(med.medication_name).trim() %>
<%     } -%>
<% } -%>
</span><!-- meds_without_rules -->
</span><!-- patient_medications -->
<span id="patient_problems">
<br/>Gedetecteerde relevante problemen:
<%     let problems = patient_advice.problems; -%>
<%     if ( problems.length ) { -%>
<% for (let i = 0; i < problems.length; ++i ) { -%>
<%     let problem = problems[i]; -%>
<%     if (i) { %>
,
<%     } -%>
<span id="prob_<%= i %>">
<%= problem.display_name %>
</span><!-- prob_<%= i %> -->
<% } -%>
<% } else { -%>
Geen
<% } -%>
</span><!-- patient_problems -->
<%     let labs = patient_advice.labs; -%>
<span id="patient_labs">
<br />Gedetecteerde relevante laboratorium waardes:
<%     if ( !labs.length ) { -%>
Geen
<%     } -%>
<% for (let i = 0; i < labs.length; ++i ) { -%>
<%     let lab = labs[i]; -%>
<%     let lab_prefix = "lab_" + i; -%>
<%     if (i) { -%>
,
<%     } -%>
<span id="<%= lab_prefix %>">
<span id="<%= lab_prefix %>_name"><%= lab.lab_test_name %></span>:
<span id="<%= lab_prefix %>_result"><%= lab.lab_test_result %></span>
(
<span id="<%= lab_prefix %>_date">
        <%= JSON.stringify(lab.date_measured).substring(1,11) %></span>
)
</span>
<% } -%>
</span>
<span"><br/><br/>Ga direct naar: <a href="#andere_advies_header">Andere risicofactoren</a></span>
</div>
<div id="div_clinician_view" class="div_clinician_view">
<strong>Gezamenlijke besluitvormingsmodel om betrokkenheid te stimuleren</strong>
<div class="instruction_box">

<div class = "instruction_column">

<div id="sdm1" class ="sdm">
<span class="instruction_heading">Stap 1: Voorbereiding</span><br/>
<span class="instruction_step">Heeft de pati&euml;nt beperkingen op het gebied van horen/ziel/taal/cognitie?<br/></span>
<span class="instruction_step">Heeft de pati&euml;nt (een) naaste(n) mee?<br/></span>
</div><!-- sdm1 -->

<div id="sdm2" class ="sdm">
<span class="instruction_heading">Stap 2: Bespreek mogelijke behandeldoelen<br/></span>
<span class="instruction_step">Wat past wel/niet bij de pati&euml;nt?<br/></span>
<span class="instruction_step">Waar staat voor de pati&euml;nt kwaliteit van leven voor?<br/>
&nbsp;&nbsp;Wat draagt hier aan bij en wat staat dit in de weg?<br/></span>
<span class="instruction_step">Vraag uitdrukkelijk na wat de wensen van de patiënt zijn.<br/></span>
</div><!-- sdm2 -->

<div id="sdm3" class ="sdm">
<span class="instruction_heading">Stap 3: Kies (een) behandeldoel(en)<br/></span>
<span class="instruction_step">Wat zijn de behandeldoelen van de pati&euml;nt?</span>
</div><!-- sdm3 -->

</div><!-- instruction_column -->

<div class = "instruction_column">

<div id="sdm4" class ="sdm">
<span class="instruction_heading">Stap 4: Bespreek de behandelopties<br/></span>
<span class="instruction_step"><em>Gebruik hier de "Consult" weergave voor</em><br/></span>
<span class="instruction_step">Bespreek de voor- en nadelen van de verschillende behandelopties<br/></span>
</div><!-- sdm4 -->

<div id="sdm5" class ="sdm">
<span class="instruction_heading">Stap 5: Besluitvorming<br/></span>
<span class="instruction_step">Sluit het besluit aan bij de normen en waarden van de pati&euml;nt?<br/></span>
</div><!-- sdm5 -->

<div id="sdm6" class ="sdm">
<span class="instruction_heading">Stap 6: Evalueren<br/></span>
<span class="instruction_step">Gebruik hier de "Advies" weergave voor<br/></span>
<span class="instruction_step">Zijn de pati&euml;nt en eventuele mantelzorgers(s) tevreden met het besluit?<br/></span>
<span class="instruction_step">Stel een behandelplan op<br/></span>
</div><!-- sdm6 -->

</div><!-- instruction_column -->

</div><!-- instruction_box -->

<div id="med_advice_header" class="advice_header clinician_view_only">Medicatiefactoren</div>
<div id="general_advice" class="general_advice">
In het algemeen dient een medicament gestopt of afgebouwd worden als:
<ul>
<li>er geen indicatie (meer) is </li>
<li>er een veiliger alternatief beschikbaar is</li>
</ul>
Het is wenselijk om iedere patient na een medicatiewijziging actief te monitoren (middels follow-up) op het optreden van een (hernieuwde) val en/of klachten zoals duizeligheid of licht in het hoofd bij opstaan veranderen.
</div><!-- general advice -->

<% let medication_advice = patient_advice.medication_advice || [];
for (let i = 0; i < medication_advice.length; ++i ) {
     let row = medication_advice[i];
     let atc = row.ATC_code;
     let generic_name = row.generic_name;
     let d = generic_name[0];
     let med_url = "https://www.farmacotherapeutischkompas.nl" +
            "/bladeren/preparaatteksten" +
            "/" + generic_name[0] + "/" + generic_name;
-%>
<div id="div_advice_<%= atc %>">
<div id="div_med_name_<%= atc %>" class = "med_name"><%= ucfirst(row.medication_name).trim() %></div>
 <a href="<%= med_url %>" class="fklink" target="_blank">FK</a>
<div id="advice_<%= atc %>" class="advice_no_checkbox">
<strong>Advies:</strong>
<%     let advices = row.adviceTextsNoCheckboxes; -%>
<%     for (let j = 0; j < advices.length; ++j ) { -%>
<%         let advice = advices[j]; -%>
<%         let att_prefix = "att_" + i + "_" + j; -%>
<%         let bogus_rule = "NonCB"; -%>
<div id="<%= att_prefix %>_cdss">
<%         for (let k = 0; k < advice.cdss_split.length; ++k) { -%>
<%             let chunk = advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_${atc}_${bogus_rule}_${j}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>">
<%- md.makeHtml(chunk.text) -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= att_prefix %>_cdss -->
<%     } -%>
</div>
<%     let cb_advices = row.adviceTextsCheckboxes; -%>
<div id="advice_selection_area_<%= i %>" class="advice_selection_area">
<div class="checkbox_section_header">Maatregelen (aangekruist indien aanbevolen):</div>
<div id="div_refpages_<%= atc %>"
    class="refpages">Meer informatie over het advies en de aanbeveling(en):
<%
    let referenceNumbers = row.referenceNumbers;
        for (let k = 0; k < referenceNumbers.length; ++k ) {
            let ref_page_num = referenceNumbers[k].reference;
        if (k) {
-%>
,
<%          } -%>
<span id="atc_ref_page_<%= atc %>_<%= ref_page_num %>" class="atc_ref_page">
<a href="https://kik.amc.nl/falls/refpages/refpage<%= ref_page_num %>.html"
   target="_blank"><%= ref_page_num %></a>
</span><!-- atc_ref_page_<%= atc %>_<%= ref_page_num %> -->
<% } -%>
</div><!-- div_refpages_<%= atc %> -->
<table>
<tr><td>Kies een of meer maatregel(en):</td><td></td></tr>
<%
     for (let j = 0; j < cb_advices.length; ++j ) {
         let cb_advice = cb_advices[j];
         let asa_prefix = "asa_" + i + "_" + j;
         let rulenum = cb_advice.medication_criteria_id;
         let boxnum = cb_advice.selectBoxNum;
         let advice_id_base =`${atc}_${rulenum}_${boxnum}`;
         let checkbox_id = 'cb_' + advice_id_base;
         let row_id = 'tr_' + advice_id_base;
-%>
<tr id="<%= row_id %>">
<td>
<span id="<%= asa_prefix %>_sbn">
<input type="checkbox"
        id="<%= checkbox_id %>"
        name="<%= checkbox_id %>"
        value="<%= checkbox_id %>"
        style="visibility:hidden"
/>
</span> <!-- <%= asa_prefix %>_sbn -->
</td>
<td>
<div id="<%= asa_prefix %>_cdss">
<%         for (let k = 0; k < cb_advice.cdss_split.length; ++k) { -%>
<%             let chunk = cb_advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_${atc}_${rulenum}_${boxnum}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>" class ="freetext">
<% //
    let cbString = md.makeHtml(chunk.text);
    // Select Box texts do not contain legit paragraphs.
    // It is already in a span so this does not need to be replaced,
    // just destroyed.
    cbString = cbString.replace("<p>", "");
    cbString = cbString.replace("</p>", "");
%>
<%- cbString -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= asa_prefix %>_cdss -->
</td>
</tr>
<%     } -%>
</table>
</div><!-- advice_selection_area_<%= i %> -->
</div><!-- div_advice_<%= atc %> -->
<% } -%>
</div><!-- div_clinician_view -->

<% let nm_advices = patient_advice.advice_text_non_med; -%>
<% let other_advices = patient_advice.advice_other_text; -%>

<div id="div_patient_view" class="div_patient_view">
<div class = "patient_header patient_view_only" id = "patient_med_advice_header">Advies over medicaties:</div>
<% for (let i = 0; i < medication_advice.length; ++i ) { -%>
<%     let row = medication_advice[i]; -%>
<%     let atc = row.ATC_code; -%>
<%     let cb_advices = row.adviceTextsCheckboxes; -%>
<div id="advice_patient_area_<%= i %>" class="advice_patient_area">
<div id="div_patient_med_name_<%= atc %>" class = "patient_med_name"><%= ucfirst(row.medication_name).trim() %></div>
<%
     for (let j = 0; j < cb_advices.length; ++j ) {
         let cb_advice = cb_advices[j];
         let paa_prefix = "paa_" + i + "_" + j;
         let rulenum = cb_advice.medication_criteria_id;
         let boxnum = cb_advice.selectBoxNum;
         let advice_id_base =`${atc}_${rulenum}_${boxnum}`;
         let checkbox_id = 'cb_' + advice_id_base;
         let row_id = 'pt_' + advice_id_base;
-%>
<div id="<%= row_id %>" class="patient_med_cb_row">
<%         for (let k = 0; k < cb_advice.patient_split.length; ++k) { -%>
<%             let chunk = cb_advice.patient_split[k]; -%>
<%             let chunk_id = `pft_${atc}_${rulenum}_${boxnum}_${k}`; -%>
<% //
	let cbString = md.makeHtml(chunk.text);
	cbString = cbString.replace("<p>", "");
    	cbString = cbString.replace("</p>", "");
%>
<div id="<%= chunk_id %>" class="patient_med_cb_text">
<%- cbString -%>
</div><!-- <%= chunk_id %> -->
<%         } -%>
</div><!-- <%= row_id %> -->
<%     } -%>
</div> <!-- advice_patient_area_<%= i %> -->
<% } -%>
<div id="div_other_med_advice" class="div_other_advice">
<!-- A free text box where the doctor can type in whatever they want.
     Like other free text boxes, this is copied to the Epic and
     Patient texts.
     The code supports multiple boxes only so it has the same shape as
     other nearly duplicate code, which needs to be factored together.
-->
<%
 for (let i = 0; i < other_advices.length; ++i ) {
     let other_advice = other_advices[i];
     let poa_prefix = "poa_" + i;
     let rulenum = other_advice.medication_criteria_id;
     let boxnum = other_advice.selectBoxNum;
     let advice_id_base =`OTHER_${rulenum}_${boxnum}`;
     let checkbox_id = 'cb_' + advice_id_base;
     let row_id = 'pt_' + advice_id_base;
-%>
<div id="<%= row_id %>" class="patient_othermed_cb_row">
<%         for (let k = 0; k < other_advice.patient_split.length; ++k) { -%>
<%             let chunk = other_advice.patient_split[k]; -%>
<%             let chunk_id = `pft_OTHER_${rulenum}_${boxnum}_${k}`; -%>
<% //
	let cbString = md.makeHtml(chunk.text);
	cbString = cbString.replace("<p>", "");
    	cbString = cbString.replace("</p>", "");
%>
<div id="<%= chunk_id %>" class="patient_othermed_cb_text">
<%- cbString -%>
</div><!-- <%= chunk_id %> -->
<%         } -%>
</div><!-- <%= row_id %> -->
<% } -%>
</div> <!-- div_div_other_med_advice -->
</div> <!-- div_patient_view -->

<div id="div_other_med_advice_area" class="div_other_advice">
<!-- A free text box where the doctor can type in whatever they want.
     Like other free text boxes, this should be copied to the Epic and
     Patient texts.
     The code supports multiple boxes only so it has the same shape as
     other nearly duplicate code, which needs to be factored together.
-->
<% for (let i = 0; i < other_advices.length; ++i ) {
       let other_advice = other_advices[i];
       let other_prefix = "other_" + i;
       let category = other_advice.medication_criteria_id;
       let boxnum = other_advice.selectBoxNum;
       let other_id_base =`OTHER_${category}_${boxnum}`;
       let checkbox_id = 'cb_' + other_id_base;
       let row_id = 'tr_' + other_id_base;
-%>
<div id="<%= row_id %>" class="other_advice_row">
<span id="<%= other_prefix %>_sbn" class="other_advice_checkbox">
<input type="checkbox"
        id="<%= checkbox_id %>"
        name="<%= checkbox_id %>"
        value="<%= checkbox_id %>"
        style="visibility:hidden"
/>
</span> <!-- <%= other_prefix %>_sbn -->
<div id="<%= other_prefix %>_cdss_continer" class="other_cdss_containter">
<div id="<%= other_prefix %>_cdss" class="other_cdss">
<%         for (let k = 0; k < other_advice.cdss_split.length; ++k) { -%>
<%             let chunk = other_advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_OTHER_${category}_${boxnum}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>" class ="freetext">
<% //
    let cbString = md.makeHtml(chunk.text);
    cbString = cbString.replace("<p>", "");
    cbString = cbString.replace("</p>", "");
%>
<%- cbString -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= other_prefix %>_cdss -->
</div> <!-- other_cdss_container -->
</div><!-- <%= row_id %> -->
<% } -%>
</div><!-- div_other_med_advice -->

<div class="advice_header clinician_view_only" id="andere_advies_header" style="width:20%;">Andere risicofactoren</div>
<div class="patient_header patient_view_only" id="header_overige_advies">Overige adviezen</div>
<div id="non_med_advice_selection_area" class="non_med_advice_selection_area">

<%
   let last_category_name = '';
   for (let i = 0; i < nm_advices.length; ++i ) {
       let nm_advice = nm_advices[i];
       let nma_prefix = "nma_" + i;
       let category = nm_advice.category_id;
       let boxnum = nm_advice.selectBoxNum;
       let nma_id_base =`NONMED_${category}_${boxnum}`;
       let checkbox_id = 'cb_' + nma_id_base;
       let row_id = 'tr_' + nma_id_base;
       let category_display_name = '';
       let category_name = nm_advice.category_name;
       if (category_name != last_category_name) {
           last_category_name = category_name;
	   category_display_name = category_name; %>
<br/>	   
<%       }
-%>
<div id="<%= row_id %>" class="nonmed_row">
<div id="td_nm_category_name_<%= nm_advice.category_id %>_<%= boxnum %>"
    class="td_nm_category_name"><%= category_display_name %></div>
<div id="<%= nma_prefix %>_sbn" class="nonmed_checkbox">
<input type="checkbox"
        id="<%= checkbox_id %>"
        name="<%= checkbox_id %>"
        value="<%= checkbox_id %>"
        style="visibility:hidden"
/>
</div> <!-- <%= nma_prefix %>_sbn -->
<div id="<%= nma_prefix %>_cdss_continer" class="nonmed_cdss_containter">
<div id="<%= nma_prefix %>_cdss" class="nonmed_cdss">
<%         for (let k = 0; k < nm_advice.cdss_split.length; ++k) { -%>
<%             let chunk = nm_advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_NONMED_${category}_${boxnum}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>" class ="freetext">
<% //
    let cbString = md.makeHtml(chunk.text);
    // Select Box texts do not contain legit paragraphs.
    // It is already in a span so this does not need to be replaced,
    // just destroyed.
    cbString = cbString.replace("<p>", "");
    cbString = cbString.replace("</p>", "");
%>
<%- cbString -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= nma_prefix %>_cdss -->
</div> <!-- nonmed_cdss_container -->
</div><!-- nonmed_row -->
<% } -%>

</div><!-- non_med_advice_selection_area -->
<div id="non_med_advice_patient_area" class="non_med_advice_patient_area">
<%
   for (let i = 0; i < nm_advices.length; ++i ) {
       let nm_advice = nm_advices[i];
       let nma_prefix = "nma_" + i;
       let category = nm_advice.category_id;
       let boxnum = nm_advice.selectBoxNum;
       let nma_id_base =`NONMED_${category}_${boxnum}`;
       let row_id = 'pt_' + nma_id_base;
-%>
<div id="<%= row_id %>" class="patient_nonmed_cb_row">
<%         for (let k = 0; k < nm_advice.patient_split.length; ++k) { -%>
<%             let chunk = nm_advice.patient_split[k]; -%>
<%             let chunk_id = `pft_NONMED_${category}_${boxnum}_${k}`; -%>
<% //
	let cbString = md.makeHtml(chunk.text);
	cbString = cbString.replace("<p>", "");
    	cbString = cbString.replace("</p>", "");
%>
<div id="<%= chunk_id %>" class="patient_nonmed_cb_text">
<%- cbString -%>
</div><!-- <%= chunk_id %> -->
<%         } -%>
</div> <!-- <%= row_id %> -->
<% } -%>
</div><!-- "non_med_advice_patient_area" -->

<div id="div_epic_box" class="div_epic_box"><!-- not in patient view -->
<p>Tekst om te knippen en plakken in Epic:</p>
<% for (let i = 0; i < medication_advice.length; ++i ) { -%>
<div id="advice_epic_area_<%= i %>" class="advice_epic_area">
<%     let row = medication_advice[i]; -%>
<%     let atc = row.ATC_code; -%>
<%     let cb_advices = row.adviceTextsCheckboxes; -%>
<%= ucfirst(row.medication_name).trim() %>:
<% //
     for (let j = 0; j < cb_advices.length; ++j ) {
         let cb_advice = cb_advices[j];
         let aea_prefix = "aea_" + i + "_" + j;
         let rulenum = cb_advice.medication_criteria_id;
         let boxnum = cb_advice.selectBoxNum;
         let advice_id_base =`${atc}_${rulenum}_${boxnum}`;
         let checkbox_id = 'cb_' + advice_id_base;
         let row_id = 'et_' + advice_id_base;
-%>
<div id="<%= row_id %>">
<%         for (let k = 0; k < cb_advice.epic_split.length; ++k) { -%>
<%             let chunk = cb_advice.epic_split[k]; -%>
<%             let chunk_id = `eft_${atc}_${rulenum}_${boxnum}_${k}`; -%>
<div id="<%= chunk_id %>">
<%             if (!chunk.editable) { -%>
<%- md.makeHtml(chunk.text) -%>
<%             } -%>
</div><!-- <%= chunk_id %> -->
<%         } -%>
</div><!-- <%= row_id %> -->
<%     } -%>
</div> <!-- advice_epic_area_<%= i %> -->
<% } -%>
<!-- Begin OTHER -->
<% for (let i = 0; i < other_advices.length; ++i ) {
       let other_advice = other_advices[i];
       let other_prefix = "other_" + i;
       let category = other_advice.medication_criteria_id;
       let boxnum = other_advice.selectBoxNum;
       let other_id_base =`OTHER_${category}_${boxnum}`;
       let row_id = 'et_' + other_id_base;
-%>
<div id="<%= row_id %>">
<%         for (let k = 0; k < other_advice.epic_split.length; ++k) {
               let chunk = other_advice.epic_split[k];
               let chunk_id = `eft_OTHER_${category}_${boxnum}_${k}`;
               let et = md.makeHtml(chunk.text);
               et = et.replace("<p>", "");
               et = et.replace("</p>", "");
-%>
<div id="<%= chunk_id %>">
<%= et -%>
</div><!-- <%= chunk_id %> -->
<%         } -%>
</div> <!-- <%= row_id %> -->
<% } -%>
<!-- End OTHER -->
<!-- Begin NonMed -->
<%
   for (let i = 0; i < nm_advices.length; ++i ) {
       let nm_advice = nm_advices[i];
       let category = nm_advice.category_id;
       let boxnum = nm_advice.selectBoxNum;
       let nma_id_base =`NONMED_${category}_${boxnum}`;
       let row_id = 'et_' + nma_id_base;
-%>
<div id="<%= row_id %>">
<%         for (let k = 0; k < nm_advice.epic_split.length; ++k) {
               let chunk = nm_advice.epic_split[k];
               let chunk_id = `eft_NONMED_${category}_${boxnum}_${k}`;
               let et = md.makeHtml(chunk.text);
               et = et.replace("<p>", "");
               et = et.replace("</p>", "");
-%>
<div id="<%= chunk_id %>">
<%= et -%>
</div><!-- <%= chunk_id %> -->
<%         } -%>
</div> <!-- <%= row_id %> -->
<% } -%>
<!-- End NonMed -->
</div> <!-- epic_box -->

<div class="whitespace"></div>

</form>
</body>
</html>
