<!DOCTYPE html>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!-- Copyright (C) 2021 S. K. Medlock, E. K. Herman, K. M. Shaw -->
<%# see https://ejs.co/#docs -%>
<% let gauge_width = '80%'; -%>
<% function ucfirst(s) { if (typeof s !== 'string') { return s; } return s.charAt(0).toUpperCase() + s.slice(1); } -%>
<html lang="<%= lang %>">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Patient <%= patient_id %></title>
<script src="static/patient.js"></script>
<script>
let patient_id = "<%= patient_id %>";
let viewer_id = "<%= viewer_id %>";
console.log('patient_id: ', patient_id);
</script>
<style>
   * { box-sizing: border-box; }
input { display: inline; }
body {
	font-family: Arial, sans-serif;
	font-size: small;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
#footer {
	background: #999999;
	line-height: 2;
	text-align: center;
	/* color: #042E64; */
	/* font-size: 30px; */
	font-weight: bold;
	text-shadow: 0 1px 0 #84BAFF;
	box-shadow: 0 0 15px #00214B
}
#patient_info {
	background: #d9d9d9;
	width: 99%;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.advice_no_checkbox {
	border: 2px solid green;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.freetext {
	display: inline;
}
.advice_selection_area{
	background: #f5f5f5;
}
div.prediction{
	margin: auto;
	width: 50%;
}
div.advice_header{
	margin: auto;
	width: 10%;
	font-size: 16px;
	font-weight: bold;
}
div.whitespace{
	height: 3cm;
}
div.refpages{
	display:inline;
	float: right;
}
div.instruction_box_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
	padding-left: 10px;
}
div.instruction_col {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	padding-right: 25px;
}
div.instruction_step {
	font-family: Arial, sans-serif;
	background: #DDDDDD;
	text-align: left;
	border: 2px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.instruction_box_heading {
	font-weight: bold;
}
div.instruction_step_heading {
	font-weight: bold;
}
div.instruction_step_item {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
div.gauge_background {
    width:<%= gauge_width %>;
    height: 0px;
    padding-bottom: calc(<%= gauge_width %> / 10);
    background: linear-gradient(to right, #0F0, #FF0 15%, #F00);
    display: inline-block;
    margin-bottom: 3ex;
}
div.gauge_line {
    width: calc(<%= gauge_width %> / 200 + 1px);
    margin-left: calc(-<%= gauge_width %> / 200 / 2 - 0.5px);
    margin-right: calc(-<%= gauge_width %> / 200 / 2 - 0.5px);
    padding-bottom: calc(10% + 1ex);
    padding-left: 0;
    padding-right: 0;
    background: #000;
    position: relative;
    left: calc(1% * <%= risk_score %>);
    top: -0.5ex;
    display: inline-block;
}
div.gauge_text_left {
    position: relative;
    top: 10px;
    margin: 0px;
    padding: 0px;
    width: 0px;
    display: inline-block;
}
div.gauge_text_right {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 0px;
    top: 10px;
    left: calc(100% - 3ch - 1em);
    display: inline-block;
}
</style>
</head>
<body>
<form id="patient_form">
<img src="static/Advice_IT_logo_small.png"
     style="max-width: 10%; height: auto;"
     alt="Advice IT logo"
>
<div id="footer">
Patient: <%= patient_id %>
<button id="button_clinician_view" type="button"
        onclick="switch_to_view('clinician')">Voorbereiding</button>
<button id="button_condensed_view" type="button"
        onclick="switch_to_view('condensed')">Consult</button>
<button id="button_patient_view" type="button"
        onclick="switch_to_view('patient')">Advies</button>
<span id="viewer_count"></span>
</div>
<div id=patient_info>
<strong>Pati&euml;ntinformatie:</strong><br/>
Patient: <%= patient_id %><br/>
Leeftijd: <%= patient_advice.age %><br/>
<div class="prediction" id = "prediction">
<p>Kans om te vallen binnen 12 maanden: <span style="color: red;"><%= risk_score %>%</span> (lees meer over het predictiemodel)</p>
<div class='gauge_background'>
    <div class='gauge_text_left'>0%
    </div><div class='gauge_line'>
    </div><div class='gauge_text_right'>100%</div>
</div>
</div>
<span id="patient_medications">
<span id="meds_with_rules">
Ga direct naar medicijnen met aanbevolen maatregelen:
<%     let rule_meds = patient_advice.meds_with_rules; -%>
<% for (let i = 0; i < rule_meds.length; ++i ) { -%>
<%     let med = rule_meds[i]; %>
<%     if (i) { -%>
,
<%     } -%>
<a href="#div_advice_<%= med.ATC_code %>" title="<%= med.medication_name %>">
<%= ucfirst(med.medication_name).trim() %></a>
<% } -%>
</span><!-- meds_with_rules -->
<br/>
<span id="meds_without_rules">
Medicijnen zonder aanbevolen maatregelen:
<%     let other_meds = patient_advice.meds_without_rules; -%>
<% if (other_meds.length == 0) { %>
Geen
<% } else { %>
<%     for (let i = 0; i < other_meds.length; ++i ) { -%>
<%         let med = other_meds[i]; %>
<%         if (i) { -%>
,
<%         } -%>
<%= ucfirst(med.medication_name).trim() %>
<%     } -%>
<% } -%>
</span><!-- meds_without_rules -->
</span><!-- patient_medications -->
<span id="patient_problems">
<%     let problems = patient_advice.problems; -%>
<%     if ( problems.length ) { -%>
<br/>
Gedetecteerde relevante problemen:
<% for (let i = 0; i < problems.length; ++i ) { -%>
<%     let problem = problems[i]; -%>
<%     let prob_prefix = "prob_" + i; -%>
<%     if (i) { %>
,
<%     } -%>
<span id="<%= prob_prefix %>">
<span id="<%= prob_prefix %>_from">
<!-- <%= JSON.stringify(problem.start_date).substring(1,11) %> -->
</span>
<span id="<%= prob_prefix %>_name"><%= problem.name %></span><br/>
</span>
<% } -%>
<% } -%>
</span>
<%     let labs = patient_advice.labs; -%>
<span id="patient_labs">
<%     if ( labs.length ) { -%>
Labs:
<%     } -%>
<% for (let i = 0; i < labs.length; ++i ) { -%>
<%     let lab = labs[i]; -%>
<%     let lab_prefix = "lab_" + i; -%>
<%     if (i) { -%>
,
<%     } -%>
<span id="<%= lab_prefix %>">
<span id="<%= lab_prefix %>_name"><%= lab.lab_test_name %></span>:
<span id="<%= lab_prefix %>_result"><%= lab.lab_test_result %></span>
<!--
<span id="<%= lab_prefix %>_date">
        <%= JSON.stringify(lab.date_measured).substring(1,11) %></span>
-->
</span>
<% } -%>
</span>
</div>
<div id="div_clinician_view" class="div_clinician_view">
<% let use_static_shared_decision_image = 0; -%>
<% if (use_static_shared_decision_image) { -%>
<strong>Gezamenlijke besluitvormingsmodel om betrokkenheid te stimuleren</strong>
<img src="static/sharedDecisionMaking.png" style="max-width:100%;" alt="SDM advies">
<% } else { -%>
<div id='instruction_box'  class='instruction_box'>
 <div id='instruction_box_heading' class='instruction_box_heading'>
Gezamenlijke besluitvormingsmodel om betrokkenheid te stimuleren
 </div>
 <div id='instruction_box_row_1' class='instruction_box_row'>
  <div id='instruction_col_1' class='instruction_col'>

   <div id='instruction_step_1' class='instruction_step'>
     <div id='instruction_step_heading_1' class='instruction_step_heading'>
Stap 1: Voorbereiding
     </div>
     <div id='instruction_step_item_1_1' class='instruction_step_item'>
Heeft de pati&euml;nt beperkingen op het gebied van horen/ziel/taal/cognitie?
     </div>
     <div id='instruction_step_item_1_2' class='instruction_step_item'>
Heeft de pati&euml;nt (een) naaste(n) mee?
     </div>
   </div><!-- instruction_step_1 -->

   <div id='instruction_step_2' class='instruction_step'>
     <div id='instruction_step_heading_2' class='instruction_step_heading'>
Stap 2: Bespreek mogelijke behandeldoelen
     </div>
     <div id='instruction_step_item_2_1' class='instruction_step_item'>
Wat past wel/niet bij de pati&euml;nt?
     </div>
     <div id='instruction_step_item_2_2' class='instruction_step_item'>
Waar staat voor de pati&euml;nt kwaliteit van leven foor?<br/>
&nbsp;&nbsp;Wat draagt hier aan bij en wat staat dit in de weg?
     </div>
   </div><!-- instruction_step_2 -->

   <div id='instruction_step_3' class='instruction_step'>
     <div id='instruction_step_heading_3' class='instruction_step_heading'>
Stap 3: Kies (een) behandeldoel(en)
     </div>
     <div id='instruction_step_item_3_1' class='instruction_step_item'>
Wat zijn de behandeldoelen van de pati&euml;nt?
     </div>
   </div><!-- instruction_step_3 -->

  </div><!-- instruction_col_1 -->

  <div id='instruction_col_2' class='instruction_col'>

   <div id='instruction_step_4' class='instruction_step'>
     <div id='instruction_step_heading_4' class='instruction_step_heading'>
Stap 4: Bespreek de behandelopties
     </div>
     <div id='instruction_step_item_4_1' class='instruction_step_item'>
Gebruik hier de "Consult" weergave voor
     </div>
     <div id='instruction_step_item_4_2' class='instruction_step_item'>
Bespreek de voor- en nadelen van de verschillende behandelopties
     </div>
   </div><!-- instruction_step_4 -->

   <div id='instruction_step_5' class='instruction_step'>
     <div id='instruction_step_heading_5' class='instruction_step_heading'>
Stap 5: Besluitvorming
     </div>
     <div id='instruction_step_item_5_1' class='instruction_step_item'>
Sluit het besluit aan bij de normen en waarden van de pati&euml;nt?
     </div>
   </div><!-- instruction_step_5 -->

   <div id='instruction_step_6' class='instruction_step'>
     <div id='instruction_step_heading_6' class='instruction_step_heading'>
Stap 6: Evalueren
     </div>
     <div id='instruction_step_item_6_1' class='instruction_step_item'>
Gebruik hier de "Advies" weergave voor
     </div>
     <div id='instruction_step_item_6_2' class='instruction_step_item'>
Zijn de pati&euml;nt en eventuele mantelzorgers(s) tevreden met het besluit?
     </div>
     <div id='instruction_step_item_6_3' class='instruction_step_item'>
Stel een behandelplan op
     </div>
   </div><!-- instruction_step_6 -->
  </div><!-- instruction_col_2 -->
 </div><!-- instruction_box_row_1 -->
</div><!-- instruction_box -->
<% } -%>
<div class="advice_header">Medicatiefactoren</div>
<% let medication_advice = patient_advice.medication_advice || [];
for (let i = 0; i < medication_advice.length; ++i ) {
     let row = medication_advice[i];
     let atc = row.ATC_code;
     let generic_name = row.generic_name;
     let d = generic_name[0];
     let med_url = "https://www.farmacotherapeutischkompas.nl" +
			"/bladeren/preparaatteksten" +
			"/" + generic_name[0] + "/" + generic_name;
-%>
<div id="div_advice_<%= atc %>">
<%= ucfirst(row.medication_name).trim() %>
 <a href="<%= med_url %>" class="fklink" target="_blank">FK</a>
<div id="div_refpages_<%= atc %>"
	class="refpages">Meer informatie over het advies:
<%
	let referenceNumbers = row.referenceNumbers;
        for (let k = 0; k < referenceNumbers.length; ++k ) {
            let ref_page_num = referenceNumbers[k].reference;
	    if (k) {
-%>
,
<%          } -%>
<span id="atc_ref_page_<%= atc %>_<%= ref_page_num %>" class="atc_ref_page">
<a href="https://kik.amc.nl/falls/refpages/refpage<%= ref_page_num %>.html"
   target="_blank"><%= ref_page_num %></a>
</span><!-- atc_ref_page_<%= atc %>_<%= ref_page_num %> -->
<% } -%>
</div><!-- div_refpages_<%= atc %> -->
<div id="advice_<%= atc %>" class="advice_no_checkbox">
<strong>Advies:</strong>
<%     let advices = row.adviceTextsNoCheckboxes; -%>
<%     for (let j = 0; j < advices.length; ++j ) { -%>
<%         let advice = advices[j]; -%>
<%         let att_prefix = "att_" + i + "_" + j; -%>
<%         let bogus_rule = "NonCB"; -%>
<div id="<%= att_prefix %>_cdss">
<%         for (let k = 0; k < advice.cdss_split.length; ++k) { -%>
<%             let chunk = advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_${atc}_${bogus_rule}_${j}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>">
<%- md.makeHtml(chunk.text) -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= att_prefix %>_cdss -->
<%     } -%>
</div>
<%     let cb_advices = row.adviceTextsCheckboxes; -%>
<div id="advice_selection_area_<%= i %>" class="advice_selection_area">
<p>Maatregelen (aangekruist indien aanbevolen):</p>
<table>
<%
     for (let j = 0; j < cb_advices.length; ++j ) {
         let cb_advice = cb_advices[j];
         let asa_prefix = "asa_" + i + "_" + j;
         let rulenum = cb_advice.medication_criteria_id;
         let boxnum = cb_advice.selectBoxNum;
         let advice_id_base =`${atc}_${rulenum}_${boxnum}`;
         let checkbox_id = 'cb_' + advice_id_base;
         let row_id = 'tr_' + advice_id_base;
-%>
<tr id="<%= row_id %>">
<td>
<span id="<%= asa_prefix %>_sbn">
<input type="checkbox"
        id="<%= checkbox_id %>"
        name="<%= checkbox_id %>"
        value="<%= checkbox_id %>"
        style="visibility:hidden"
/>
</span> <!-- <%= asa_prefix %>_sbn -->
</td>
<td>
<div id="<%= asa_prefix %>_cdss">
<%         for (let k = 0; k < cb_advice.cdss_split.length; ++k) { -%>
<%             let chunk = cb_advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_${atc}_${rulenum}_${boxnum}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>" class ="freetext">
<% //
	let cbString = md.makeHtml(chunk.text);
	cbString = cbString.replace("<p>", "");
	cbString = cbString.replace("</p>", ""); //Select Box texts don't contain legit paragraphs. It is already in a span so this does not need to be replaced, just destroyed.
%>
<%- cbString -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= asa_prefix %>_cdss -->
</td>
</tr>
<%     } -%>
</table>
</div><!-- advice_selection_area_<%= i %> -->
</div><!-- div_advice_<%= atc %> -->
<% } -%>
</div><!-- div_clinician_view -->

<div id="div_patient_view" class="div_patient_view">
<% for (let i = 0; i < medication_advice.length; ++i ) { -%>
<%     let row = medication_advice[i]; -%>
<%     let atc = row.ATC_code; -%>
<%     let cb_advices = row.adviceTextsCheckboxes; -%>
<div id="advice_patient_area_<%= i %>" class="advice_patient_area">
<p>Patient:
<%
     for (let j = 0; j < cb_advices.length; ++j ) {
         let cb_advice = cb_advices[j];
         let paa_prefix = "paa_" + i + "_" + j;
         let rulenum = cb_advice.medication_criteria_id;
         let boxnum = cb_advice.selectBoxNum;
         let advice_id_base =`${atc}_${rulenum}_${boxnum}`;
         let checkbox_id = 'cb_' + advice_id_base;
         let row_id = 'pt_' + advice_id_base;
-%>
<div id="<%= row_id %>">
<%         for (let k = 0; k < cb_advice.patient_split.length; ++k) { -%>
<%             let chunk = cb_advice.patient_split[k]; -%>
<%             let chunk_id = `pft_${atc}_${rulenum}_${boxnum}_${k}`; -%>
<div id="<%= chunk_id %>">
<%             if (!chunk.editable) { -%>
<%- md.makeHtml(chunk.text) -%>
<%             } -%>
</div><!-- <%= chunk_id %> -->
<%         } -%>
</div><!-- <%= row_id %> -->
<%     } -%>
</div> <!-- advice_patient_area_<%= i %> -->
<% } -%>
</div> <!-- div_patient_view -->

<div id="div_other_med_advice" class="div_other_med_advice">
<p>Andere medicatie-gerelateerde advies:</p><!-- TODO add a free text box where the doctor can type in whatever they want. Like other free text boxes, this should be copied to the Epic and Patient text. -->
<div class="advice_header" style="width:20%">Andere risicofactoren</div>
<!-- TODO add non-med advice -->
<p>Andere advies:</p><!-- TODO add a free text box where the doctor can type in whatever they want. Like other free text boxes, this should be copied to the Epic and Patient text. -->
</div><!-- div_other_med_advice -->

<div id="div_epic_box" class="div_epic_box"><!-- not in patient view -->
<% for (let i = 0; i < medication_advice.length; ++i ) { -%>
<div id="advice_epic_area_<%= i %>" class="advice_epic_area">
<%     let row = medication_advice[i]; -%>
<%     let atc = row.ATC_code; -%>
<%     let cb_advices = row.adviceTextsCheckboxes; -%>
<p>Epic:</p>
<%
     for (let j = 0; j < cb_advices.length; ++j ) {
         let cb_advice = cb_advices[j];
         let aea_prefix = "aea_" + i + "_" + j;
         let rulenum = cb_advice.medication_criteria_id;
         let boxnum = cb_advice.selectBoxNum;
         let advice_id_base =`${atc}_${rulenum}_${boxnum}`;
         let checkbox_id = 'cb_' + advice_id_base;
         let row_id = 'et_' + advice_id_base;
-%>
<div id="<%= row_id %>">
<%         for (let k = 0; k < cb_advice.epic_split.length; ++k) { -%>
<%             let chunk = cb_advice.epic_split[k]; -%>
<%             let chunk_id = `eft_${atc}_${rulenum}_${boxnum}_${k}`; -%>
<div id="<%= chunk_id %>">
<%             if (!chunk.editable) { -%>
<%- md.makeHtml(chunk.text) -%>
<%             } -%>
</div><!-- <%= chunk_id %> -->
<%         } -%>
</div><!-- <%= row_id %> -->
<%     } -%>
</div> <!-- advice_epic_area_<%= i %> -->
<% } -%>
</div> <!-- epic_box -->

<div class="whitespace"></div>

</form>
</body>
</html>
