<!DOCTYPE html>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!-- Copyright (C) 2021 S. K. Medlock, E. K. Herman, K. M. Shaw -->
<%# see https://ejs.co/#docs -%>
<% function ucfirst(s) {
       if (typeof s !== 'string') { return s; }
       return s.charAt(0).toUpperCase() + s.slice(1);
   } -%>
<html lang="nl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Patient</title>
<link rel="stylesheet" type="text/css" href="static/adfice.css">
<style>
#button-prep-view {
    background-color: #008000;
    color: #FFFFFF;
}
</style>
<script src="assets/basic-utils.js"></script>
<script src="assets/common.js"></script>
<script src="assets/five-pages.js"></script>
<script src="assets/footer.js"></script>
<script>
window.addEventListener('load', function(event) { prep_page_load(); });
</script>
</head>
<body>
<form id="patient_form">
<img src="static/Advice_IT_logo_small.png"
     style="max-width: 10%; height: auto; display: inline;"
     alt="Advice IT logo"
>
<div id="nav_container" style="display: inline;">
 <a href = "static/HoeGebruikIkDitSysteem.html"
    target="_blank"><button type="button"
			    class = "nav_button"
			    id="help">Handleiding</button></a>
</div><!-- nav_container -->
<div id=patient_info>
<strong>Pati&euml;ntinformatie:</strong><br/>
Patient: <span id="patient-info-id"></span><br/>
Leeftijd: <span id="patient-info-age"></span><br/>
<div class="prediction" id = "prediction">
<p>Kans om te vallen binnen 12 maanden:&nbsp;
<span id="gauge-risk-score" style="color: red;">(onbekend)</span>
<script>
let params = new URLSearchParams(window.location.search)
var patient_id = params.get('id');
var prediction_url = 'prediction_explanation?id=' + patient_id;
document.write('<a href="' + prediction_url +
'">(lees meer over het predictiemodel)</a>');
</script>
</p>
<div class='gauge_background'>
<div class='gauge_text_left'>0%</div>
<div id="gauge-line"></div>
<div class='gauge_text_right'>100%</div>
</div><!-- gauge_background -->
</div><!-- prediction -->
<div style="height: 2em;"></div>

<span id="patient_medications">
<span id="meds_with_rules">
Ga direct naar medicijnen met advies:
<span id="meds-with-rules-list"></span>
</span><!-- meds_with_rules -->
<br/>
<span id="meds_without_rules">
<br/>Gedetecteerde andere medicijnen:
<span id="meds-without-rules-list">Geen</span>
</span><!-- meds_without_rules -->
</span><!-- patient_medications -->

<span id="patient_problems">
<br/>Gedetecteerde relevante problemen:
<span id="patient-problems-list">Geen</span>
</span><!-- patient_problems -->
<span id="patient_labs">
<br />Gedetecteerde relevante laboratorium waardes:
<span id="patient-labs-list">Geen</span>
</span><!-- patient_labs -->
<span><br/><br/>Ga direct naar:
<a href="#andere_advies_header">Andere risicofactoren</a></span>
</div>
<div id="div_clinician_view" class="div_clinician_view">

<div id="med_advice_header"
     class="advice_header clinician_view_only">Medicatiefactoren</div>
<div id="general_advice" class="general_advice">
In het algemeen dient een medicament gestopt of afgebouwd worden als:
<ul>
<li>er geen indicatie (meer) is </li>
<li>er een veiliger alternatief beschikbaar is</li>
</ul>
Het is wenselijk om iedere patient na een medicatiewijziging actief te
monitoren (middels follow-up) op het optreden van een (hernieuwde) val
en/of veranderen van klachten zoals duizeligheid of licht in het hoofd
bij opstaan. Bij alle beslissingen, zijn de voorkeuren van de
pati&euml;nt belangrijk. Ook moet de individuele valrisico, mogelijk
bijwerkingen, levensverwachting en comorbiditeiten meegenomen worden.
Het advies hieronder gaat over het effect van medicijnen op valrisico,
maar gaat niet over andere redenen om de medicatie te stoppen of
continueren.
</div><!-- general advice -->

<% let medication_advice = patient_advice.medication_advice || [];
for (let i = 0; i < medication_advice.length; ++i ) {
     let row = medication_advice[i];
     let atc = row.ATC_code;
     let generic_name = row.generic_name;
     let d = generic_name[0];
     let med_url = "https://www.farmacotherapeutischkompas.nl" +
            "/bladeren/preparaatteksten/atc/" +
            atc;
-%>
<div id="div_advice_<%= atc %>">
<div id="div_med_name_<%= atc %>" class = "med_name">
<%= ucfirst(row.medication_name).trim() %></div>
 <a href="<%= med_url %>" class="fklink" target="_blank">
<img src="static/FK_circle_with_linkout.png" alt="FK" class="fkimg"/>
</a>
<div id="advice_<%= atc %>" class="advice_no_checkbox">
<strong>Advies:</strong>
<%     let advices = row.adviceTextsNoCheckboxes; -%>
<%     for (let j = 0; j < advices.length; ++j ) { -%>
<%         let advice = advices[j]; -%>
<%         let att_prefix = "att_" + i + "_" + j; -%>
<%         let bogus_rule = "NonCB"; -%>
<div id="<%= att_prefix %>_cdss">
<%         for (let k = 0; k < advice.cdss_split.length; ++k) { -%>
<%             let chunk = advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_${atc}_${bogus_rule}_${j}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>">
<%- md.makeHtml(chunk.text) -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= att_prefix %>_cdss -->
<%     } -%>
</div>
<%     let cb_advices = row.adviceTextsCheckboxes; -%>
<div id="advice_selection_area_<%= i %>" class="advice_selection_area">
<div class="checkbox_section_header"
>Maatregelen (aangekruist indien aanbevolen):</div>
<div id="div_refpages_<%= atc %>"
    class="refpages">Referenties:
<%
    let referenceNumbers = row.referenceNumbers;
        for (let k = 0; k < referenceNumbers.length; ++k ) {
            let ref_page_num = referenceNumbers[k].reference;
        if (k) {
-%>
,
<%          } -%>
<span id="atc_ref_page_<%= atc %>_<%= ref_page_num %>" class="atc_ref_page">
<a href="static/refpages/refpage<%= ref_page_num %>.html"
   target="_blank"><%= ref_page_num %></a>
</span><!-- atc_ref_page_<%= atc %>_<%= ref_page_num %> -->
<% } -%>
</div><!-- div_refpages_<%= atc %> -->
<table>
<tr><td>Kies een of meer maatregel(en):</td><td></td></tr>
<%
     for (let j = 0; j < cb_advices.length; ++j ) {
         let cb_advice = cb_advices[j];
         let asa_prefix = "asa_" + i + "_" + j;
         let rulenum = cb_advice.medication_criteria_id;
         let boxnum = cb_advice.select_box_num;
         let advice_id_base =`${atc}_${rulenum}_${boxnum}`;
         let checkbox_id = 'cb_' + advice_id_base;
         let row_id = 'tr_' + advice_id_base;
-%>
<tr id="<%= row_id %>">
<td>
<span id="<%= asa_prefix %>_sbn">
<input type="checkbox"
        id="<%= checkbox_id %>"
        name="<%= checkbox_id %>"
        value="<%= checkbox_id %>"
        style="visibility:hidden"
/>
</span> <!-- <%= asa_prefix %>_sbn -->
</td>
<td>
<div id="<%= asa_prefix %>_cdss" class="med_cdss">
<%         for (let k = 0; k < cb_advice.cdss_split.length; ++k) { -%>
<%             let chunk = cb_advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_${atc}_${rulenum}_${boxnum}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text" class="ft_input"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>" class ="freetext">
<% //
    let cbString = md.makeHtml(chunk.text);
    // Select Box texts do not contain legit paragraphs.
    // It is already in a span so this does not need to be replaced,
    // just destroyed.
    cbString = cbString.replace("<p>", "");
    cbString = cbString.replace("</p>", "");
%>
<%- cbString -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= asa_prefix %>_cdss -->
</td>
</tr>
<%     } -%>
</table>
</div><!-- advice_selection_area_<%= i %> -->
</div><!-- div_advice_<%= atc %> -->
<% } -%>
</div><!-- div_clinician_view -->

<% let nm_advices = patient_advice.advice_text_non_med; -%>
<% let other_advices = patient_advice.advice_other_text; -%>

<div id="div_other_med_advice_area" class="div_other_advice">
<!-- A free text box where the doctor can type in whatever they want.
     Like other free text boxes, this should be copied to the EHR and
     Patient texts.
     The code supports multiple boxes only so it has the same shape as
     other nearly duplicate code, which needs to be factored together.
-->
<% for (let i = 0; i < other_advices.length; ++i ) {
       let other_advice = other_advices[i];
       let other_prefix = "other_" + i;
       let category = other_advice.medication_criteria_id;
       let boxnum = other_advice.select_box_num;
       let other_id_base =`OTHER_${category}_${boxnum}`;
       let checkbox_id = 'cb_' + other_id_base;
       let row_id = 'tr_' + other_id_base;
-%>
<div id="<%= row_id %>" class="other_advice_row">
<span id="<%= other_prefix %>_sbn" class="other_advice_checkbox">
<input type="checkbox"
        id="<%= checkbox_id %>"
        name="<%= checkbox_id %>"
        value="<%= checkbox_id %>"
        style="visibility:hidden"
/>
</span> <!-- <%= other_prefix %>_sbn -->
<div id="<%= other_prefix %>_cdss_continer" class="other_cdss_container">
<div id="<%= other_prefix %>_cdss" class="other_cdss">
<%         for (let k = 0; k < other_advice.cdss_split.length; ++k) { -%>
<%             let chunk = other_advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_OTHER_${category}_${boxnum}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text" class="ft_input"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>" class ="freetext">
<% //
    let cbString = md.makeHtml(chunk.text);
    cbString = cbString.replace("<p>", "");
    cbString = cbString.replace("</p>", "");
%>
<%- cbString -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= other_prefix %>_cdss -->
</div> <!-- other_cdss_container -->
</div><!-- <%= row_id %> -->
<% } -%>
</div><!-- div_other_med_advice -->

<div class="advice_header clinician_view_only"
     id="andere_advies_header"
     style="width:20%;">Andere risicofactoren</div>
<div id="non_med_advice_selection_area" class="non_med_advice_selection_area">

<%
   let last_category_name = '';
   for (let i = 0; i < nm_advices.length; ++i ) {
       let nm_advice = nm_advices[i];
       let nma_prefix = "nma_" + i;
       let category = nm_advice.category_id;
       let boxnum = nm_advice.select_box_num;
       let nma_id_base =`NONMED_${category}_${boxnum}`;
       let checkbox_id = 'cb_' + nma_id_base;
       let row_id = 'tr_' + nma_id_base;
       let category_name = nm_advice.category_name;
       let category_name_class = "nm_category_entry_additional";
       if (category_name != last_category_name) {
           last_category_name = category_name;
           category_name_class = "nm_category_entry_first";
       }
-%>
<div id="<%= row_id %>" class="nonmed_row">
<div id="td_nm_category_name_<%= nm_advice.category_id %>_<%= boxnum %>"
     class="td_nm_category_name <%= category_name_class %>">
     <%= category_name %>
</div>
<div id="<%= nma_prefix %>_sbn" class="nonmed_checkbox">
<input type="checkbox"
        id="<%= checkbox_id %>"
        name="<%= checkbox_id %>"
        value="<%= checkbox_id %>"
        style="visibility:hidden"
/>
</div> <!-- <%= nma_prefix %>_sbn -->
<div id="<%= nma_prefix %>_cdss_continer" class="nonmed_cdss_container">
<div id="<%= nma_prefix %>_cdss" class="nonmed_cdss">
<%         for (let k = 0; k < nm_advice.cdss_split.length; ++k) { -%>
<%             let chunk = nm_advice.cdss_split[k]; -%>
<%             let chunk_id = `ft_NONMED_${category}_${boxnum}_${k}`; -%>
<%             if (chunk.editable) { -%>
<input id="<%= chunk_id %>" type="text" class="ft_input"
        value="<%= chunk.text %>"/>
<%             } else { -%>
<div id="<%= chunk_id %>" class ="freetext">
<% //
    let cbString = md.makeHtml(chunk.text);
    // Select Box texts do not contain legit paragraphs.
    // It is already in a span so this does not need to be replaced,
    // just destroyed.
    cbString = cbString.replace("<p>", "");
    cbString = cbString.replace("</p>", "");
%>
<%- cbString -%>
</div> <!-- <%= chunk_id %> -->
<%             } -%>
<%         } -%>
</div> <!-- <%= nma_prefix %>_cdss -->
</div> <!-- nonmed_cdss_container -->
</div><!-- nonmed_row -->
<% } -%>

</div><!-- non_med_advice_selection_area -->

<div id="div-footer-id"></div><!-- footer -->
<script>load_footer();</script>
</form>
<!--
<%= JSON.stringify({ debug_info: patient_advice.debug_info }, null, 4) %>
-->
</body>
</html>
